/*
  color schemes:
    Black & White: #eee #111
    Bisque & Chocolate: #ffe4ce #d2691e
*/

@font-face
  font-family 'Berlin'
  src url('fonts/Berlin.ttf')
  font-weight normal
  font-style normal

:root
  --cell-size 48px
  --board-color-1 #eee
  --board-color-2 #111

body
  margin 0
  font-family 'Berlin'
  letter-spacing 1px
  font-size 18px

ul
  list-style-type none

.view
  margin 30px auto 0 auto
  width 80%
