<template name='signup'>
    <div class='signup'>
        <h2>Sign up</h2>
        <sub class='subtext'>Already have an account? <a href="/login">Log in!</a></sub>
        <br>
        <form action="#" method="post">
            <input type="text" name="username" placeholder="username"><br>
            <input type="mail" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="password" name="password_confirm" placeholder="confirm password"><br>
            <button type="submit" name="submit">Login</button>
        </form>
    </div>
</template>
