header
  display grid
  grid-template-columns repeat(3, 1fr)
  align-items center
  height 85px
  background-color rgba(0,0,0,0.9)

  nav
    justify-self right
    height inherit

    a
      display flex
      align-items center
      height inherit
      padding 0 15px

.header-logo
  height 50px
  grid-column 2
  justify-self center
