header
  display grid
  grid-template-columns repeat(3, 1fr)
  align-items center
  height 85px
  background-color rgba(0,0,0,0.9)

  nav
    display flex
    height inherit

    &.right
        justify-self right
    &.left
        justify-self left

    a
      display flex
      align-items center
      height inherit
      padding 0 15px

      color #fff
      text-decoration none
      box-sizing border-box
      border-bottom 0px solid #fff

      transition background-color 0.2s, border-bottom 0.2s, padding-top 0.2s

      &:hover
        background-color rgba(255,255,255,0.25)
        border-bottom 10px solid #fff
        padding-top 10px

      &.important
        background-color rgba(222, 79, 79, 0.9)

        &:hover
          background-color rgba(252, 109, 109, 0.9)


.header-logo
  grid-column 2
  justify-self center

  img
    height 50px
